#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    progress_bar: (
        symbols: ["", "█", "", "", ""],
    ),

    scrollbar: (
        symbols: ["|", "│", "▵", "▿"],
    ),

    lyrics: (
    timestamp: false
    ),

    symbols: (song: "󰝚 ", dir: "󱍙 ", playlist: "󰲸 ", marker: "* ", ellipsis: "",
    ),

    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 1, bar_spacing: 1,
    ),

    song_table_format: [
        (
            prop: (kind: Sticker("playCount"),
                 default: (kind: Text(""), style: ())),
            width: "3",
            alignment: Left,
            label: "Playcount",
            label_prop: (kind: Group([
                (kind: Text("󰆙")),
            ]))
        ),
        (
            prop:(kind: Text("│")),
            width: "1",
            alignment: Center,
            label: "",
            label_prop: (kind: Group([
                (kind: Text("│")),
            ]))
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown Artist"))),
            width: "23%",
            label_prop: (kind: Group([
                (kind: Text("Artist ")),
            ]))
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Property(Filename),
                    default: (kind: Text("Unknown Title")))),
            width: "36%",
            label_prop: (kind: Group([
                (kind: Text("Title ")),
            ]))
        ),
        (
            prop: (kind: Property(Album),
                default: (kind: Text("Unknown Album"))),
            width: "33%",
            label_prop: (kind: Group([
                (kind: Text("Album 󰀥")),
            ]))
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))),
            width: "8%",
            alignment: Right,
            label_prop: (kind: Group([
                (kind: Text("Length ")),
            ]))
        ),
    ],
)