#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    progress_bar: (
        symbols: ["", "█", "", " ", " "],
        use_track_when_empty: false,
    ),

    scrollbar: (
        symbols: [" ", " ", " ", " "],
        track_style: (),
        ends_style: (),
        thumb_style: (),
    ),
    lyrics: (timestamp: false),
    
    symbols: (
        song: " ",
        dir: " ",
        playlist: "󰲸 ",
        marker: " ",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],
        bar_width: 1, bar_spacing: 1,
        orientation: Horizontal,
    ),
    browser_song_format: [
        (kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])),
        (kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]), default: (kind: Property(Filename)))
    ],
    song_table_format: [


/*
        (
            width: "1",
            alignment: Center,
            label: "󰔓",
            prop: (
                default: (kind: Text(".")),
                kind: Transform(Replace(content: (kind: Sticker("like")), replacements: [
                    (match:  "0", replace: (kind: Group([(kind: Text("󰔑"))]))),
                    (match:  "1", replace: (kind: Group([(kind: Text("󱢶"))]))),
                    (match:  "2", replace: (kind: Group([(kind: Text("󰔓"))]))),
                ])),
            ),
        ),
*/
/*
        (
            width: "1",
            alignment: Center,
            label: "",
            prop: (
                default: (kind: Text(".")),
                kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
                    (match:  "0", replace: (kind: Group([(kind: Text("󰎡"))]))),
                    (match:  "1", replace: (kind: Group([(kind: Text("󰎤"))]))),
                    (match:  "2", replace: (kind: Group([(kind: Text("󰎧"))]))),
                    (match:  "3", replace: (kind: Group([(kind: Text("󰎪"))]))),
                    (match:  "4", replace: (kind: Group([(kind: Text("󰎭"))]))),
                    (match:  "5", replace: (kind: Group([(kind: Text("󰎱"))]))),
                    (match:  "6", replace: (kind: Group([(kind: Text("󰎳"))]))),
                    (match:  "7", replace: (kind: Group([(kind: Text("󰎶"))]))),
                    (match:  "8", replace: (kind: Group([(kind: Text("󰎹"))]))),
                    (match:  "9", replace: (kind: Group([(kind: Text("󰎼"))]))),
                    (match: "10", replace: (kind: Group([(kind: Text("󰽽"))]))),
                ])),
            ),
        ),
*/
        (
            width: "2",
            alignment: Right,
            label: "󰆙",
            prop: (
                kind: Sticker("playCount"),
                default:(kind: Text(".")),
            ),
        ),
        (
            width: "1",
            alignment: Center,
            label: "│",
            prop:(
                kind: Text("│")
            ),
        ),
        (
            width: "20%",
            label: "Artist ",
            prop: (
                kind: Property(Artist),
                default: (kind: Text("Unknown Artist"))
            ),
        ),
        (
            width: "40%",
            label: "Title ",
            prop: (
                kind: Property(Title),
                default: (kind: Property(Filename),
                default: (kind: Text("Unknown Title"))),
            ),
        ),
        (
            width: "30%",
            label: "Album 󰀥",
            prop: (
                kind: Property(Album),
                default: (kind: Text("Unknown Album"))
            ),
        ),
        (

            width: "6%",
            alignment: Right,
            label: "Length ",
            prop: (
                kind: Property(Duration),
                default: (kind: Text("-"))
            ),
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "100%",
                borders: "NONE",
                pane: Pane(TabContent),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("[ ")),
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" 󱦟")),
                    (kind: Text(" ]")),
                ],
                center: [
                    (kind: Property(Song(Title)), default: (kind: Property(Song(Filename))),)
                ],
                right: [
                    (kind: Text("[ ")),
                    (kind: Property(Status(RepeatV2(on_label: "", off_label: "")))),
                    (kind: Text(" | ")),
                    (kind: Property(Status(RandomV2(on_label: "", off_label: "")))),
                    (kind: Text(" | ")),
                    (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊")))),
                    (kind: Text(" | ")),
                    (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊")))),
                    (kind: Text(" | ")),
                    (kind: Property(Status(Crossfade)), default: (kind: Text("󰴽"))),
                    (kind: Text(" ]")),
                ],
            ),
            (
                left: [
                    (kind: Text("[ ")),
                    (kind: Property(Song(Bits())),default: (kind: Text(" "))),
                    (kind: Text(" bit")),
                    (kind: Text(" | ")),
                    (kind: Property(Status(Bitrate)),default: (kind: Text(" "))),
                    (kind: Text(" kbps")),
                    (kind: Text(" ]")),
                ],
                center: [
                    (kind: Property(Song(Artist)), default: (kind: Text("Unknown Artist"))),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)), default: (kind: Text("Unknown Album"))),
                ],
                right: [
                    (kind: Text("[ ")),
                    (kind: Property(Status(QueueTimeRemaining(separator: " ")))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(QueueTimeTotal(separator: " ")))),
                    (kind: Text(" 󱎫")),
                    (kind: Text(" ]")),
                ],
            ),
            (
                left: [
                    (kind: Text("[ ")),
                    (kind: Property(Song(SampleRate())),default: (kind: Text(" "))),
                    (kind: Text(" Hz")),
                    (kind: Text(" | ")),
                    (kind: Property(Song(Position)), default: (kind: Text("0"))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(QueueLength()))),
                    (kind: Text(" 󰴍")),
                    (kind: Text(" ]"))
                ],
                center: [
                    (kind: Property(Song(Other("albumartist"))), default: (kind: Text("Unknown Albumartist"))),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Other("composer"))), default: (kind: Text("Unknown Composer"))),
                ],
                right: [
                    (kind: Text("[ ")),
                    (kind: Property(Song(Other("date"))), default: (kind: Text("Unknown Date"))),
                    (kind: Text(" | ")),
                    (kind: Property(Song(Track)), default: (kind: Text("0"))),
                    (kind: Text(" / ")),
                    (kind: Property(Song(Disc)), default: (kind: Text("0"))),
                    (kind: Text(" 󰥠 | ")),
                    (kind: Property(Song(Other("genre"))), default: (kind: Text("Unknown Genre"))),
                    (kind: Text(" ]")),
                ]
            ),
        ],
    ),
)